<<<<<<< HEAD
<body class="abc1">
<h1 style="color:#C00615;">Editing Product</h1>
=======
<h1>Editing Product</h1>
>>>>>>> b465acf78cf81e0fd56d2dcf73347ec3ba39c22b

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
<<<<<<< HEAD
</body>
=======
>>>>>>> b465acf78cf81e0fd56d2dcf73347ec3ba39c22b
